 body {
      height: 100%;
      margin: 0;
      background:  linear-gradient(to bottom, #24332a, rgb(2, 3, 3));
      color: white;
    }

    .section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        background: rgba(82, 74, 74, 0.537);

    
      padding: 30px;
      border-radius: 20px;
      width: fit-content;
      margin: auto;
      margin-top: 50px;
    }

    #gitlink {
      padding: 15px;
      background: rgb(255, 247, 247);
      border-radius: 20px;
      text-decoration: none;
      color: black;
    }

    #gitlink:hover {
      background: rgb(139, 131, 131);
    }

    #center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #middle {
      margin-top: 20px;
    }
