body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom right, #ffd6e8, #ffe4ec);
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  padding: 20px;
}

h1 {
  margin: 10px;
  color: #b3005e;
}

p {
  color: #444;
}


.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}


.card {
  background: white;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 10px;
  transition: transform 0.3s;
}


.card:hover {
  transform: scale(1.05);
}


.card img {
  width: 100%;
  border-radius: 12px;
}


.card p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
